<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/workout.css">    
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
     <title>Responsive Navigation Menu Bar</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <span class="logo navLogo"><a href="#">Fitness energy</a></span>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Fitness energy</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>
                <ul class="nav-links">
                    <li><a href="/traning">traning</a></li>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>
                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script src="/static/js/dashboard.js"></script>
    <link rel="stylesheet" href="/static/css/workout.css">
    <h1>Введите ваш рост и вес</h1>
    <form action="/traning" method="POST">
        <label for="height">Рост (см):</label>
        <input type="number" name="height" id="height" required><br><br>
    
        <label for="weight">Вес (кг):</label>
        <input type="number" name="weight" id="weight" required><br><br>
    
        <label for="difficulty">Уровень сложности:</label>
        <select name="difficulty" id="difficulty" required>
            <option value="beginner">Начинающий</option>
            <option value="intermediate">Средний</option>
            <option value="advanced">Продвинутый</option>
        </select><br><br>
    
        <input type="submit" value="Сгенерировать тренировку">
    </form>
    
    {% if workout %}
    <div class="workout-section">
        <h2 class="workout-title">Ваша тренировка:</h2>
        <p class="workout-description">{{ workout }}</p>
    </div>
    {% endif %}
</body>
</html>